*{
  margin: 0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: #37bc9b;
  padding:20px;
  line-height:2;
}
#page{
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.edit{
  align-self: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:10px;
  width:100%;
  
}
#editor{
  width:80%;
  resize: vertical;
  background-color: #48cfad;
  box-shadow: 10px 10px 10px;
  padding-left:10px;
  padding-right:10px;
 height:200px;
 min-height: 200px;
}
.header{
  width:80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 204, 159);
  border-style: inset;
  box-shadow: 10px 10px 10px;
  padding-left:10px;
  padding-right: 6px;
}
#preview{
  align-self: center;
  max-width: 800px;
  border-style: inset;
  overflow-wrap: break-word;
  padding:30px;
  text-wrap:wrap;
  background-color: #48cfad;
  box-shadow: 10px 10px 10px;
  width:98%;
}
#preview img{
  max-width: 90%;
}
pre{
  background-color: white;
  padding:10px;
}