*{
  margin: 0px;
  padding:0px;
}
body{
  background-color: #37bc9b;
}
.edit{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}
#editor{
  width:99%;
  resize: vertical;
  background-color: #48cfad;
}
.header{
  width:99%;
  background-color: rgb(70, 204, 159);
  border-style: ridge;
}
#preview{
  max-width: 800px;
  margin-left: auto;
  margin-right:auto;
  border-style: ridge;
  overflow-wrap: break-word;
  padding:0 1rem;
  text-wrap:wrap;
  background-color: #48cfad;
}